@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: purple;
    height: 100vh;
}

section {
    background-color: rgb(69, 66, 71);
    width: 200px;
    height: 400px;
}