@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
} 
body {
    background-image: linear-gradient(90deg, #9EF8EE, #22BABB, #348888);
    
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1d4d4d9d;
}

p {
    text-align: justify;
}

h1 { 
color: rgb(216, 150, 65);
text-align: center;
text-shadow: 1px 1px 2px rgba(138, 96, 42, 0.733);
}

h2 {
color: rgba(172, 70, 36, 0.548);

}
