@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
html{
    background: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tela{
    background: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 627px;
    transform: translate(-50%, -50%);
}
iframe#frame{
    position: relative;
    top: 81px;
    left: 24px;
    width: 264px;
    height: 469px;
    background-size: contain;
}

a{
    display: block;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}

a > img{
    width: 50px;
    border-radius: 40px;
}
a > img:hover{
    border: 1px solid white;
    transform: translate(-3px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.699);
    transition: .4s;
    transition-timing-function: ease;
}